/*
========================================
0       0       0       0
style   id      class   element
=========================================
*/


/* 
h1 - это элемент и поэтому порядок стилей задается
=========================================
0       0       0       1
style   id      class   element
*/
h1{
    color:red;
    font-weight: normal;
}

/*
Когда задан КЛАСС, мы задаем его ТОЧКОЙ
class="my_name"
будет учитываться по ИД,
и порядок будет выше, 10 против 1 для h1, 
и поэтому my_name будет уже серым, а не красным
=========================================
0       0       1       0
style   id      class   element
*/
.my_name{
    color: #cececc;
    text-align: center;
    width: 500px;        /*Ширина и высота элемента*/
    height: 500px;
    
    /* background-color: #bebebe; /*цвет элемента*/
    /* background-image: url('../nature.jpg ');
    /* background-repeat: no-repeat; /*не повторять заполнение картинки*/
    /* background-position: center center; /* горизонт вертикаль - выравннивание нашего блока в этом элементе*/
    /* background-size:100px 100px; /* 100px 100px, 100px auto, auto - авто, cover - покрыть весь блок, contain - чтоб поместилась*/
    /*ИЛИ*/
    background: url(../nature.jpg) center no-repeat #bebebe;

    border: 4px dotted rgb(197, 21, 21); /* 1px - толщина, solid - цельная, dashed - черточками, dotted -точечками,  #000 - цвет,  границв обрамления*/   
    
    /* padding: 30px; /*то что снаружи элемента, отступы*/
    /*ИЛИ*/
    /*padding-top: 30px;
    padding-right: 10px;
    padding-left: 30px;
    padding-bottom: 70px;
    */

    /* margin: 30px; /*то что внутри элемента, отступы*/
    /*ИЛИ*/
    /*margin-top: 30px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 70px;*/

    /*ИЛИ*/
    /* 1цыфра - везде, 2 (по вертикали и по бокам), 3 (сверху, по бокам, снизу), 4 (по  часовой стрелке - сверху, справа, снизу, слева)*/
    padding:30px 10px 70px 30px;
    margin:30px 10px 70px 30px; 
}


/* 
Когда задан id, мы задаем его ХЕШ-ТЕГОМ
id="my_first_name", будет учитываться по ИД,
и порядок будет выше, 100 против 1 для h1, 
и поэтому my_first_name будет уже зеленым, а не красным 
=========================================
0       1       0       0
style   id      class   element
*/
#my_first_name{
    color: green;
    font-weight: 700; /*Согласно fonts.google.com - Bold = 700, Regular 400, Medium 500, Light 300, Thin 100  */
}